<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>dashboard</title>
  </head>
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script>

if(!!window.performance && window.performance.navigation.type == 2)
    {
       window.location.reload();
   }


   if(performance.navigation.type == 2){
   location.reload(true);
   }
  </script>

  <body onunload="">
    this will be user dashboard .. adding budgets and previous billings of user

    <a href="{% url 'logout_user' user %}">Logout</a>
  </body>
</html>
