<html>
<head>
  <title>
    Registration form
  </title>
  <style>


  body {
      background-color: #eee;
  }

  /* *[role="form"] {
      max-width: 530px;
      padding: 15px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 0.3em;
  }

  *[role="form"] h2 {
      margin-left: 5em;
      margin-bottom: 1em;
  } */




/*
  .field{
    color: blue;
    align: center;
    margin-left: 40%;
    margin-right: auto;

  }
  .error{
    color:red;
  }


.header{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color:#73f8a5;
  height:60px;
  text-align: center;
  font-size:40px;
  color:white;


  }

  .home{
  background-color: #ce93d8;
  height:35px;
  }

  font{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:20px;
  }

  sup{
    color: #6A5ACD;
  }

.body{
  margin-top: 5%;
} */
  </style>
</head>
<body>
  <div class="header">
  </div>
  <form action="" method="post" >
    <!-- <div class="container">
     <div class="body">
    {% csrf_token %}
  {% for field in form %}
    <div class="row">
       <div class="col-md-2">
         <div class="field">
        {{ field.label_tag }}
         <br>{{ field }}
        {% if field.help_text %}
          <sup>{{ field.help_text }}</sup>
        {% endif %}
        <div class="error">
        {{ field.errors }}
      </div>

       </div>
</div>
       </div>
 {% endfor %}
 <div class="field">
   <br>
  <input type="submit" value="Submit">
  <br>

</div>
</div>
</div> -->


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
            <form class="form-horizontal" role="form" action="" method="post">
              {% csrf_token %}
                <h2>Registration Form</h2>
                {% for field in form %}
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">{{ field.label_tag }}</label>
                    <div class="col-sm-9">
                        <div class="",type="text">
                          {{ field }}
                        <!-- </div> -->
                      </div>
                    </div>
                      {% endfor %}
                  <input type="submit" value="submit">
                  </form>
                    <!-- <span class="help-block">{{ field.help_text }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9"> -->
                        <!-- <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <select id="country" class="form-control">
                            <option>Afghanistan</option>
                            <option>Bahamas</option>
                            <option>Cambodia</option>
                            <option>Denmark</option>
                            <option>Ecuador</option>
                            <option>Fiji</option>
                            <option>Gabon</option>
                            <option>Haiti</option>
                        </select>
                    </div>
                </div>
                <div class="form-group"> -->
                    <!-- <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="femaleRadio" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="maleRadio" value="Male">Male
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="uncknownRadio" value="Unknown">Unknown
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group"> -->
                    <!-- <label class="control-label col-sm-3">Meal Preference</label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="calorieCheckbox" value="Low calorie">Low calorie
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="saltCheckbox" value="Low salt">Low salt
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">I accept <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form>
        </div>






  </form>
</body>
</html>
